<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>

                        <h3>Password Reset Request</h3>

                        <p>
                            We received a request to reset your password for
                            <span th:text="${appName}">Application</span>.
                        </p>

                        <p>Click the link below to reset your password:</p>

                        <p>
                            <a th:href="${link}">Reset Password</a>
                        </p>

                        <p>If you did not request this, you can safely ignore this email.</p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
